In [1]:
import pandas as pd
import numpy as np
import datetime
import os

from utils import one_hot_encoder, loadpkl

num_rows=10000

%matplotlib inline

In [2]:
# load datasets

historical_transactions = pd.read_csv('../input/historical_transactions.csv', nrows=num_rows)
merchants = pd.read_csv('../input/merchants.csv')
new_merchant_transactions = pd.read_csv('../input/new_merchant_transactions.csv', index_col=0)
sample_submission = pd.read_csv('../input/sample_submission.csv', index_col=0)
test = pd.read_csv('../input/test.csv', index_col=['card_id'])
train = pd.read_csv('../input/train.csv', index_col=['card_id'])

In [3]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [4]:
merchants.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [5]:
new_merchant_transactions.head()

,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
authorized_flag,,,,,,,,,,,,,
Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [6]:
sample_submission.head()

                 target
card_id
C_ID_0ab67a22ab       0
C_ID_130fd0cbdd       0
C_ID_b709037bc5       0
C_ID_d27d835a9f       0
C_ID_2b5e3df5c2       0

In [7]:
test.head()

                first_active_month  feature_1  feature_2  feature_3
card_id
C_ID_0ab67a22ab            2017-04          3          3          1
C_ID_130fd0cbdd            2017-01          2          3          0
C_ID_b709037bc5            2017-08          5          1          1
C_ID_d27d835a9f            2017-12          2          1          0
C_ID_2b5e3df5c2            2015-12          5          1          1

In [8]:
train.head()

                first_active_month  feature_1  feature_2  feature_3    target
card_id
C_ID_92a2005557            2017-06          5          2          1 -0.820283
C_ID_3d0044924f            2017-01          4          1          0  0.392913
C_ID_d639edf6cd            2016-08          2          2          0  0.688056
C_ID_186d6a6901            2017-09          4          3          0  0.142495
C_ID_cdbd2c0db2            2017-11          1          3          0 -0.159749

In [9]:
train_df = loadpkl('../output/train_df.pkl')

In [16]:
train_df.loc[train_df.outliers==1][:100].to_csv('../share/outliers.csv')

In [20]:
train_df[train_df.outliers==0].sort_values('target')[:100].to_csv('../share/target_to.csv')

,feature_1,feature_2,feature_3,first_active_month,outliers,target,quarter,is_month_start,elapsed_time,month_0,...,hist_first_buy,hist_last_buy,new_first_buy,new_last_buy,card_id_total,card_id_cnt_total,purchase_amount_total,purchase_amount_mean,purchase_amount_max,purchase_amount_min
card_id,,,,,,,,,,,,,,,,,,,,,
C_ID_8d4331102a,0.010479,0.008752,0.011428,2017-02-01,0.0,-17.608147,1.0,True,704.0,0,...,10.0,295.0,440.0,443.0,26.0,26.0,-5.368685,0.000772,2.805050,-0.520020
C_ID_3f7ba15ec2,0.008058,0.011385,0.010283,2017-06-01,0.0,-17.492640,2.0,True,584.0,0,...,9.0,272.0,274.0,284.0,426.0,426.0,-240.687881,-0.941249,10.233986,-1.470703
C_ID_9636eefa07,0.008058,0.011385,0.010283,2017-03-01,0.0,-17.441923,1.0,True,676.0,0,...,29.0,227.0,396.0,397.0,33.0,33.0,-4.307744,1.664405,4.490949,-0.955078
C_ID_e954ad8a0a,0.008058,0.011385,0.010283,2016-11-01,0.0,-17.189636,4.0,True,796.0,0,...,62.0,478.0,485.0,493.0,193.0,193.0,-53.574017,-0.694256,11.104624,-1.289062
C_ID_b889d602a9,0.010610,0.011385,0.010283,2017-07-01,0.0,-15.835656,3.0,True,554.0,0,...,19.0,172.0,259.0,283.0,26.0,26.0,-8.752131,-0.829287,0.016296,-1.246094
C_ID_019f58d716,0.010479,0.011385,0.011428,2015-08-01,0.0,-15.553269,3.0,True,1254.0,0,...,523.0,937.0,947.0,960.0,143.0,143.0,-99.942268,-1.412911,-0.648367,-1.462891
C_ID_241f0b32e7,0.010479,0.008752,0.011428,2016-12-01,0.0,-15.400146,4.0,True,766.0,0,...,54.0,378.0,409.0,421.0,37.0,37.0,-26.075047,-1.424637,-0.727295,-1.486328
C_ID_e5166761fd,0.010479,0.008752,0.011428,2017-10-01,0.0,-15.291387,4.0,True,462.0,0,...,3.0,108.0,155.0,160.0,37.0,37.0,-26.666861,-1.448123,-1.330722,-1.482422
C_ID_fdd0a7812d,0.010479,0.008752,0.011428,2017-03-01,0.0,-15.103165,1.0,True,676.0,0,...,0.0,327.0,368.0,405.0,72.0,72.0,-49.805328,-1.402709,-1.036505,-1.480469
C_ID_a4d66ee2cb,0.010479,0.008752,0.011428,2017-01-01,0.0,-15.081151,1.0,True,735.0,0,...,5.0,318.0,375.0,415.0,38.0,38.0,-26.089779,-1.384665,-0.452405,-1.486328
C_ID_4b9e49a03a,0.010479,0.008752,0.011428,2017-09-01,0.0,-15.011489,3.0,True,492.0,0,...,11.0,175.0,182.0,210.0,73.0,73.0,-51.971054,-1.397575,-1.106714,-1.488281
C_ID_c75bb0026e,0.013145,0.011385,0.011428,2017-09-01,0.0,-14.631001,3.0,True,492.0,0,...,10.0,175.0,182.0,222.0,13.0,13.0,0.516669,-0.168965,2.655824,-1.478516
C_ID_35af5edc5a,0.008058,0.011385,0.010283,2017-06-01,0.0,-14.370074,2.0,True,584.0,0,...,17.0,202.0,296.0,296.0,13.0,13.0,-6.386628,-0.633542,-0.177493,-0.823730
C_ID_52441a10c3,0.010479,0.008752,0.011428,2017-02-01,0.0,-14.251186,1.0,True,704.0,0,...,26.0,319.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_a233dea5b7,0.010479,0.008752,0.011428,2017-03-01,0.0,-14.220000,1.0,True,676.0,0,...,25.0,317.0,381.0,385.0,27.0,27.0,-19.216330,-1.374899,-1.263462,-1.467773
C_ID_461f3835ce,0.008058,0.011385,0.010283,2017-11-01,0.0,-14.036374,4.0,True,431.0,0,...,0.0,112.0,121.0,175.0,22.0,22.0,-11.016137,-0.876916,1.310748,-1.320312
C_ID_7739e84c24,0.013145,0.008752,0.011428,2017-08-01,0.0,-13.872483,3.0,True,523.0,0,...,30.0,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_a08d1ffb5a,0.013145,0.011385,0.011428,2016-08-01,0.0,-13.650740,3.0,True,888.0,0,...,156.0,332.0,334.0,378.0,105.0,105.0,-40.051476,-0.867663,1.100989,-1.468750
C_ID_88b14f0a30,0.010712,0.014166,0.010283,2016-12-01,0.0,-13.599111,4.0,True,766.0,0,...,39.0,286.0,361.0,361.0,113.0,113.0,-14.725290,5.025193,11.125103,4.457031
C_ID_1bb79f5cd8,0.013145,0.011385,0.011428,2015-05-01,0.0,-13.523219,2.0,True,1346.0,0,...,615.0,890.0,977.0,1013.0,18.0,18.0,-9.710818,-0.911264,-0.291697,-1.373047
C_ID_3fb94662cc,0.010479,0.008752,0.011428,2017-02-01,0.0,-13.455584,1.0,True,704.0,0,...,17.0,384.0,422.0,422.0,63.0,63.0,-44.323986,-1.433590,-1.044613,-1.476562
C_ID_83bcf8de65,0.010479,0.008752,0.011428,2017-05-01,0.0,-13.451598,2.0,True,615.0,0,...,25.0,303.0,305.0,309.0,69.0,69.0,-49.683887,-1.465464,-1.047713,-1.494141
C_ID_5e9d7f7304,0.010479,0.008752,0.011428,2017-04-01,0.0,-13.144180,2.0,True,645.0,0,...,9.0,292.0,311.0,320.0,68.0,68.0,-48.295010,-1.441764,-1.172039,-1.488281
C_ID_dcdb8d636e,0.008058,0.011385,0.010283,2017-07-01,0.0,-12.986375,3.0,True,554.0,0,...,29.0,214.0,261.0,261.0,432.0,432.0,-264.447693,-1.115330,1.454935,-1.245117
C_ID_be33cdbf38,0.010479,0.008752,0.011428,2017-03-01,0.0,-12.956739,1.0,True,676.0,0,...,24.0,305.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_ecd998fba4,0.013145,0.011385,0.011428,2017-06-01,0.0,-12.711839,2.0,True,584.0,0,...,12.0,174.0,218.0,272.0,19.0,19.0,-10.422331,-1.153423,-0.612241,-1.443359
C_ID_f7d63122ca,0.010479,0.008752,0.011428,2017-01-01,0.0,-12.407082,1.0,True,735.0,0,...,12.0,361.0,417.0,436.0,22.0,22.0,-11.830212,-1.061291,0.815970,-1.464844
C_ID_38217f6554,0.010610,0.008752,0.010283,2016-07-01,0.0,-12.304637,3.0,True,919.0,0,...,191.0,521.0,617.0,624.0,31.0,31.0,-20.776651,-1.385617,-1.068696,-1.457031
C_ID_11f626f71a,0.010610,0.011385,0.010283,2015-05-01,0.0,-11.801587,2.0,True,1346.0,0,...,617.0,817.0,828.0,872.0,58.0,58.0,-32.217896,-0.839473,3.486299,-1.453125
C_ID_591596829c,0.008058,0.011385,0.010283,2017-07-01,0.0,-11.555068,3.0,True,554.0,0,...,27.0,223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C_ID_f62fb8a013,0.010479,0.008752,0.011428,2017-08-01,0.0,-9.688250,3.0,True,523.0,0,...,2.0,210.0,213.0,213.0,33.0,33.0,-23.509668,-1.446103,-1.362168,-1.480469
C_ID_c7edcb4b06,0.013145,0.011385,0.011428,2017-04-01,0.0,-9.675234,2.0,True,645.0,0,...,14.0,133.0,173.0,184.0,16.0,16.0,-6.775285,-0.857739,0.097045,-1.345703
C_ID_bc91f025e9,0.010479,0.014166,0.011428,2016-05-01,0.0,-9.622904,2.0,True,980.0,0,...,265.0,608.0,627.0,664.0,92.0,92.0,-49.066509,-1.150088,0.501392,-1.476562
C_ID_17bc014a39,0.010479,0.014166,0.011428,2017-06-01,0.0,-9.604674,2.0,True,584.0,0,...,24.0,169.0,197.0,204.0,99.0,99.0,-69.780952,-1.276032,-0.567179,-1.398438
C_ID_c657a6178e,0.008058,0.008752,0.010283,2017-07-01,0.0,-9.577282,3.0,True,554.0,0,...,0.0,222.0,244.0,298.0,42.0,42.0,-1.104487,0.826308,7.018778,-1.433594
C_ID_1d9883144b,0.010610,0.011385,0.010283,2017-07-01,0.0,-9.575022,3.0,True,554.0,0,...,5.0,214.0,221.0,221.0,24.0,24.0,-2.899793,-0.206937,1.468243,-1.148438
C_ID_36d9e846e1,0.010479,0.014166,0.011428,2017-10-01,0.0,-9.498019,4.0,True,462.0,0,...,8.0,132.0,163.0,195.0,22.0,22.0,-13.558341,-1.238250,-0.549842,-1.474609
C_ID_d74d7a1dbd,0.010479,0.014166,0.011428,2012-08-01,0.0,-9.451353,3.0,True,2349.0,0,...,1669.0,1823.0,1826.0,1864.0,47.0,47.0,-30.528421,-1.305304,-0.656015,-1.474609
C_ID_d05689c9cc,0.010712,0.011385,0.010283,2017-08-01,0.0,-9.440952,3.0,True,523.0,0,...,22.0,157.0,200.0,200.0,21.0,21.0,-1.375964,-0.474914,4.834704,-1.135742
C_ID_02a9d08a53,0.013145,0.011385,0.011428,2015-01-01,0.0,-9.417853,1.0,True,1466.0,0,...,735.0,1121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_d30f66e770,0.010712,0.011385,0.010283,2017-03-01,0.0,-9.386788,1.0,True,676.0,0,...,3.0,326.0,339.0,360.0,430.0,430.0,-256.092224,1.510323,11.485279,-1.337891
C_ID_21f76d3b01,0.010479,0.008752,0.011428,2017-10-01,0.0,-9.385906,4.0,True,462.0,0,...,15.0,98.0,159.0,208.0,40.0,40.0,-28.235432,-1.375188,-0.983743,-1.486328
C_ID_58c097788e,0.010610,0.008752,0.010283,2017-09-01,0.0,-9.376125,3.0,True,492.0,0,...,20.0,171.0,193.0,193.0,7.0,7.0,-4.482305,-1.006247,-0.758284,-1.056641
C_ID_f8ceba3efc,0.010610,0.008752,0.010283,2016-08-01,0.0,-9.335390,3.0,True,888.0,0,...,165.0,515.0,526.0,526.0,38.0,38.0,-26.066864,-1.421887,-1.036422,-1.482422
C_ID_17b1d9b063,0.010712,0.011385,0.010283,2017-09-01,0.0,-9.333830,3.0,True,492.0,0,...,-26.0,56.0,61.0,92.0,21.0,21.0,1.958540,-0.128803,3.134122,-1.277344
C_ID_af2e0b2759,0.010479,0.008752,0.011428,2016-06-01,0.0,-9.324908,2.0,True,949.0,0,...,216.0,604.0,611.0,615.0,133.0,133.0,-89.968346,-1.304469,0.138146,-1.473633
C_ID_79acc88b26,0.010479,0.008752,0.011428,2016-12-01,0.0,-9.321928,4.0,True,766.0,0,...,35.0,429.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_969188a5bc,0.010610,0.008752,0.010283,2016-07-01,0.0,-9.275173,3.0,True,919.0,0,...,184.0,417.0,449.0,474.0,475.0,475.0,-322.976318,-1.355332,-0.754776,-1.482422
C_ID_6793df4f49,0.013145,0.008752,0.011428,2017-01-01,0.0,-9.236866,1.0,True,735.0,0,...,29.0,147.0,158.0,204.0,96.0,96.0,-11.001761,-0.637434,8.355839,-1.482422
C_ID_b9bb75a8e0,0.010610,0.014166,0.010283,2017-08-01,0.0,-9.228819,3.0,True,523.0,0,...,27.0,208.0,260.0,260.0,17.0,17.0,-1.274583,0.065335,1.811997,-0.535156
C_ID_b6413765fe,0.010479,0.011385,0.011428,2017-04-01,0.0,-9.226997,2.0,True,645.0,0,...,20.0,279.0,347.0,348.0,41.0,41.0,-26.520210,-1.182275,-0.697441,-1.445312
C_ID_5b3752a327,0.010479,0.008752,0.011428,2017-09-01,0.0,-9.218684,3.0,True,492.0,0,...,3.0,118.0,125.0,125.0,12.0,12.0,-8.661227,-1.460768,-1.415503,-1.475586
C_ID_cb413aeaa5,0.010479,0.011385,0.011428,2017-05-01,0.0,-9.187451,2.0,True,615.0,0,...,4.0,212.0,215.0,266.0,54.0,54.0,-38.371750,-1.405244,-1.166543,-1.485352
C_ID_b0116b5d45,0.010479,0.011385,0.011428,2016-01-01,0.0,-9.180836,1.0,True,1101.0,0,...,366.0,530.0,553.0,588.0,78.0,78.0,-48.952328,-1.248376,0.657965,-1.468750
C_ID_11a3c4d1c5,0.010610,0.011385,0.010283,2017-12-01,0.0,-9.176295,4.0,True,401.0,0,...,-1.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_66543c8906,0.010479,0.011385,0.011428,2016-04-01,0.0,-9.168020,2.0,True,1010.0,0,...,283.0,371.0,432.0,450.0,38.0,38.0,-25.657162,-1.338503,-0.365654,-1.474609
C_ID_93cfdf541d,0.013145,0.011385,0.011428,2015-10-01,0.0,-9.150799,4.0,True,1193.0,0,...,463.0,724.0,740.0,761.0,132.0,132.0,-78.776451,-1.245918,0.285074,-1.492188
C_ID_635d9d0882,0.010610,0.011385,0.010283,2017-04-01,0.0,-9.128071,2.0,True,645.0,0,...,4.0,118.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C_ID_78e085e51e,0.010479,0.014166,0.011428,2013-11-01,0.0,-9.120290,4.0,True,1892.0,0,...,1158.0,1450.0,1474.0,1511.0,229.0,229.0,-163.319595,-1.423703,-0.877498,-1.490234
C_ID_6c8c46d10b,0.010712,0.014166,0.010283,2017-01-01,0.0,-9.114585,1.0,True,735.0,0,...,13.0,123.0,211.0,211.0,26.0,26.0,-8.490267,6.155389,6.554172,6.035156