In [1]:
import gc
import json
import pandas as pd
import numpy as np

from glob import glob
from tqdm import tqdm

from utils import loadpkl, removeCorrelatedVariables, removeMissingVariables

%matplotlib inline

In [2]:
files = sorted(glob('../features/*.feather'))
df = pd.concat([pd.read_feather(f) for f in tqdm(files, mininterval=60)], axis=1)

# set card_id as index
df.set_index('card_id', inplace=True)
df.head()

  0%|          | 0/1079 [00:00<?, ?it/s]/home/fujiwara/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/pandas/io/feather_format.py:124: FutureWarning: `nthreads` argument is deprecated, pass `use_threads` instead
  nthreads=int_use_threads)
/home/fujiwara/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/pyarrow/pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels
100%|██████████| 1079/1079 [00:02<00:00, 524.14it/s]

,AOV,AOV_ratio,CLV,CLV_month_diff,CLV_month_diff_ratio,CLV_ratio,Mothers_Day_2018,amount_month_ratio_max,amount_month_ratio_mean,amount_month_ratio_min,...,weekofyear_9,year_0,year_2011,year_2012,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
card_id,,,,,,,,,,,,,,,,,,,,,
C_ID_92a2005557,182.318395,1.661881,4.690294e+06,1.705895e+08,-0.008053,0.013005,49.492977,NaN,NaN,-350.00,...,0,0,0,0,0,0,0,0,1,0
C_ID_3d0044924f,101.445060,0.159410,1.071890e+07,1.005798e+07,0.000050,0.000047,56.833333,NaN,NaN,7.99,...,0,0,0,0,0,0,0,0,1,0
C_ID_d639edf6cd,76.651163,0.679063,8.444000e+04,NaN,NaN,0.000367,15.720930,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
C_ID_186d6a6901,118.311688,0.856153,3.805900e+05,NaN,NaN,0.007076,55.623377,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
C_ID_cdbd2c0db2,249.208020,1.067407,2.299008e+06,-9.753155e+07,0.031752,0.078204,61.856099,NaN,NaN,-156.09,...,0,0,0,0,0,0,0,0,1,0

In [27]:
# https://www.kaggle.com/raddar/card-id-loyalty-different-points-in-time
df['hist_observation_date']= df.apply(lambda x: pd.to_datetime(x['hist_purchase_date_max']*10**9)-pd.DateOffset(months=x['hist_month_lag_max']), axis=1)
df['new_observation_date']=df.apply(lambda x: np.nan if np.isnan(x['new_month_lag_min']) else pd.to_datetime(x['new_purchase_date_min']*10**9)-pd.DateOffset(months=x['new_month_lag_min']-1), axis=1)

df['hist_observation_date'] = df['hist_observation_date'].dt.to_period('M').dt.to_timestamp()+pd.DateOffset(months=1)
df['new_observation_date'] = df['new_observation_date'].dt.to_period('M').dt.to_timestamp()

In [26]:
df[:10000]

card_id
C_ID_92a2005557   2018-03-05 14:04:36
C_ID_3d0044924f   2018-02-01 17:07:54
C_ID_d639edf6cd   2018-03-28 17:43:11
C_ID_186d6a6901   2018-03-07 11:55:06
C_ID_cdbd2c0db2   2018-03-02 11:55:43
C_ID_0894217f2f   2017-08-15 10:17:55
C_ID_7e63323c00   2018-03-06 12:37:14
C_ID_dfa21fc124   2018-01-06 07:03:41
C_ID_fe0fdac8ea   2018-03-17 14:22:31
C_ID_bf62c0b49d   2018-03-01 09:22:06
C_ID_92853cdb2c   2018-03-29 17:01:43
C_ID_269d816788   2018-03-12 05:50:28
C_ID_61d50d7057   2018-03-23 18:35:19
C_ID_4e07413433   2017-11-10 09:33:14
C_ID_b6302b31c6   2017-11-05 05:23:32
C_ID_3b69154173                   NaT
C_ID_9feec11e78   2018-03-07 08:06:44
C_ID_f6658dbefe   2018-03-03 15:42:34
C_ID_4a7dda0f9e   2018-03-01 13:27:11
C_ID_6adae2a906   2018-03-03 11:11:38
C_ID_0b70ca7347   2018-03-12 16:12:43
C_ID_25b2509282                   NaT
C_ID_82fb11db22   2018-03-12 17:13:24
C_ID_e03db05bde   2018-03-02 10:24:07
C_ID_dcb7c76747   2018-03-09 07:31:00
C_ID_749cfc0c3a                   NaT
C_ID_4a97126360   2018-03-26 11:39:58
C_ID_17dea8d446   2018-03-24 17:48:16
C_ID_fcef0dfd67   2018-03-01 09:50:56
C_ID_82868156f0   2017-06-12 16:11:00
                          ...
C_ID_5b85b966c1   2017-06-10 12:43:39
C_ID_f890b8dc64   2018-03-24 10:33:11
C_ID_2215519dd8   2018-03-09 15:29:33
C_ID_fda05df196   2018-03-04 08:04:19
C_ID_5eb4567178   2018-03-01 03:06:30
C_ID_6cc2e7fc5d   2018-02-23 08:57:33
C_ID_829dd27156   2018-02-13 08:18:29
C_ID_f4ab7fce51   2017-10-28 00:00:00
C_ID_5aff088833   2018-03-14 14:21:36
C_ID_f46ba7902f   2018-01-17 11:52:37
C_ID_fa8e590fa2   2018-01-11 17:01:57
C_ID_3b6bc83289   2018-02-28 09:50:08
C_ID_56454471aa   2018-03-11 08:21:33
C_ID_97a49aa702   2018-03-11 12:52:33
C_ID_b8bd725b1e   2018-01-04 18:29:24
C_ID_214aad42ea   2018-03-10 15:26:34
C_ID_891998643b   2018-03-04 06:46:38
C_ID_69db2dcf18   2018-03-03 09:37:44
C_ID_4dc8954c16   2018-03-13 19:22:42
C_ID_4b4e012682   2018-03-19 09:43:47
C_ID_e3ef6b3de1   2017-11-10 17:59:39
C_ID_86d2701e01   2018-03-14 19:14:15
C_ID_48dc4489fa   2018-03-08 14:17:03
C_ID_dda2ab80d7   2018-03-02 13:09:17
C_ID_3c8e3894db   2017-12-02 05:43:41
C_ID_6796575fde   2018-03-10 08:25:26
C_ID_0420f4f16b   2018-01-10 06:43:10
C_ID_272e702500   2018-03-05 16:41:54
C_ID_ede6e78a13   2018-03-15 12:50:07
C_ID_61a0ac6f1a   2017-11-06 00:00:00
Length: 10000, dtype: datetime64[ns]

In [ ]:
np.isnu