In [70]:
import pandas as pd
import numpy as np
import datetime
import os

from utils import one_hot_encoder, loadpkl

num_rows=10000

%matplotlib inline

In [31]:
# load datasets

historical_transactions = pd.read_csv('../input/historical_transactions.csv', nrows=num_rows)
merchants = pd.read_csv('../input/merchants.csv', index_col=0)
new_merchant_transactions = pd.read_csv('../input/new_merchant_transactions.csv', index_col=0)
sample_submission = pd.read_csv('../input/sample_submission.csv', index_col=0)
test = pd.read_csv('../input/test.csv', index_col=['card_id'])
train = pd.read_csv('../input/train.csv', index_col=['card_id'])

In [21]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [20]:
merchants.head()

,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,avg_purchases_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
merchant_id,,,,,,,,,,,,,,,,,,,,,
M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,9.666667,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,1.750000,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,260.000000,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,1.666667,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,0.500000,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [19]:
new_merchant_transactions.head()

,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
authorized_flag,,,,,,,,,,,,,
Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [18]:
sample_submission.head()

                 target
card_id
C_ID_0ab67a22ab       0
C_ID_130fd0cbdd       0
C_ID_b709037bc5       0
C_ID_d27d835a9f       0
C_ID_2b5e3df5c2       0

In [30]:
test.head()

                first_active_month  feature_1  feature_2  feature_3
card_id
C_ID_0ab67a22ab            2017-04          3          3          1
C_ID_130fd0cbdd            2017-01          2          3          0
C_ID_b709037bc5            2017-08          5          1          1
C_ID_d27d835a9f            2017-12          2          1          0
C_ID_2b5e3df5c2            2015-12          5          1          1

In [34]:
train.head()

                first_active_month  feature_1  feature_2  feature_3    target
card_id
C_ID_92a2005557            2017-06          5          2          1 -0.820283
C_ID_3d0044924f            2017-01          4          1          0  0.392913
C_ID_d639edf6cd            2016-08          2          2          0  0.688056
C_ID_186d6a6901            2017-09          4          3          0  0.142495
C_ID_cdbd2c0db2            2017-11          1          3          0 -0.159749

In [67]:
# set target as nan
test['target'] = np.nan

# merge
df = train.append(test)

In [68]:
# datetimeへ変換
df['first_active_month'] = pd.to_datetime(df['first_active_month'])

# datetime features
df['month'] = df['first_active_month'].dt.month.fillna(0).astype(int).astype(object)
df['year'] = df['first_active_month'].dt.year.fillna(0).astype(int).astype(object)
df['month_year'] = df['month'].astype(str)+'_'+df['year'].astype(str)

# features1~3
df['feature_1'] = df['feature_1'].astype(object)
df['feature_2'] = df['feature_2'].astype(object)

# one hot encoding
df, cols = one_hot_encoder(df, nan_as_category=False)

In [40]:
df.groupby('feature_1')['target'].mean()

feature_1
1   -0.315476
2   -0.350452
3   -0.377533
4   -0.404652
5   -0.499879
Name: target, dtype: float64

In [41]:
df.groupby('feature_2')['target'].mean()

feature_2
1   -0.398675
2   -0.332899
3   -0.501889
Name: target, dtype: float64

In [46]:
df.groupby('feature_3')['target'].mean()

feature_3
0   -0.357939
1   -0.421057
Name: target, dtype: float64

In [51]:
df.dtypes

first_active_month    datetime64[ns]
feature_1                      int64
feature_2                      int64
feature_3                      int64
target                       float64
dtype: object

In [72]:
historical_transactions.dtypes

authorized_flag          object
card_id                  object
city_id                   int64
category_1               object
installments              int64
category_3               object
merchant_category_id      int64
merchant_id              object
month_lag                 int64
purchase_amount         float64
purchase_date            object
category_2              float64
state_id                  int64
subsector_id              int64
dtype: object

In [80]:
historical_transactions = pd.read_csv('../input/historical_transactions.csv', nrows=num_rows, index_col=['card_id'])

In [81]:
historical_transactions.groupby('card_id')

,authorized_flag,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
card_id,,,,,,,,,,,,,
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37
C_ID_4e6213e9bc,Y,333,N,0,A,80,M_ID_50af771f8d,0,-0.734887,2018-02-24 08:45:05,1.0,9,37
C_ID_4e6213e9bc,Y,88,N,0,A,278,M_ID_5e8220e564,-11,-0.716855,2017-03-21 00:10:51,1.0,16,37
C_ID_4e6213e9bc,Y,3,N,0,A,80,M_ID_9d41786a50,-3,-0.657049,2017-11-18 20:05:55,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-8,-0.737967,2017-06-01 22:02:56,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_74ba14b5fc,-11,-0.715352,2017-03-16 15:41:22,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,683,M_ID_1449f22bfb,-9,-0.734135,2017-05-09 12:42:07,1.0,16,34
C_ID_4e6213e9bc,Y,-1,N,0,A,560,M_ID_7c5e93af2f,0,-0.727929,2018-02-08 20:05:45,NaN,-1,34
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-8,-0.741649,2017-06-08 18:02:29,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,130,M_ID_e8fb39882d,-7,-0.727373,2017-07-14 12:59:38,1.0,16,41
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_97e86eae5f,-4,-0.731881,2017-10-24 13:29:29,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,560,M_ID_e6d5ae8ea6,-8,-0.738192,2017-06-14 07:40:48,1.0,16,34
C_ID_4e6213e9bc,Y,69,N,0,A,879,M_ID_00a6ca8a8a,0,-0.725871,2018-02-07 12:19:33,1.0,9,29
C_ID_4e6213e9bc,Y,88,N,0,A,278,M_ID_21e1552dab,-7,-0.734887,2017-07-07 13:03:27,1.0,16,37
C_ID_4e6213e9bc,Y,233,N,0,A,80,M_ID_4524a562f3,-1,-0.699725,2018-01-08 23:54:29,1.0,9,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_e020e9b302,-6,-0.745405,2017-08-11 17:53:00,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,278,M_ID_21e1552dab,-6,-0.734887,2017-08-30 12:53:57,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-7,-0.737967,2017-07-01 21:27:23,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-7,-0.739545,2017-07-14 22:06:02,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,278,M_ID_e020e9b302,-9,-0.726998,2017-05-06 12:29:50,1.0,16,37
C_ID_4e6213e9bc,Y,3,N,0,A,511,M_ID_79db784180,-13,-0.731881,2017-01-20 09:16:43,1.0,16,7
C_ID_4e6213e9bc,Y,333,N,0,A,80,M_ID_50af771f8d,0,-0.735638,2018-02-26 14:54:38,1.0,9,37
C_ID_4e6213e9bc,Y,88,N,0,A,278,M_ID_e020e9b302,-10,-0.726472,2017-04-29 12:30:03,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_979ed661fc,-8,-0.726772,2017-06-23 21:43:17,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,278,M_ID_21e1552dab,-11,-0.721363,2017-03-10 15:46:19,1.0,16,37
C_ID_4e6213e9bc,Y,88,N,0,A,80,M_ID_dc7356f06d,-6,-0.692211,2017-08-05 19:10:32,1.0,16,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C_ID_2223b33279,N,200,N,0,A,818,M_ID_17540b2cd0,-10,-0.320906,2017-01-01 13:46:24,2.0,18,12
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_d30509548b,0,-0.729056,2017-11-09 20:11:47,2.0,18,33
C_ID_2223b33279,Y,344,N,0,A,367,M_ID_080fe68260,-10,-0.724368,2017-01-29 16:17:41,2.0,18,16
C_ID_2223b33279,Y,344,N,0,A,307,M_ID_18b07d47dc,-3,-0.701828,2017-08-05 18:47:12,2.0,18,19
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_34102c1d26,-7,-0.617319,2017-04-12 11:10:01,2.0,18,33
C_ID_2223b33279,Y,200,N,0,A,278,M_ID_99c02dd813,0,-0.696238,2017-11-10 15:54:25,2.0,18,37
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_d30509548b,-8,-0.732527,2017-03-06 20:10:12,2.0,18,33
C_ID_2223b33279,Y,107,N,0,A,45,M_ID_8b78a92bab,-4,-0.740897,2017-07-18 08:53:54,4.0,4,18
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_34102c1d26,-9,-0.611714,2017-02-25 11:47:13,2.0,18,33
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_d30509548b,-7,-0.728876,2017-04-07 09:34:22,2.0,18,33
C_ID_2223b33279,Y,200,N,0,A,818,M_ID_17540b2cd0,-2,-0.524515,2017-09-16 17:04:30,2.0,18,12
C_ID_2223b33279,Y,344,N,0,A,80,M_ID_128f04d349,-1,-0.700326,2017-10-29 00:01:09,2.0,18,37
C_ID_2223b33279,N,344,N,0,A,705,M_ID_99f898709d,-8,-0.717486,2017-03-24 11:52:00,2.0,18,33
C_ID_2223b33279,N,-1,Y,1,B,661,M_ID_fc7d7969c3,-4,-0.745405,2017-07-25 21:40:15,NaN,-1,8
C_ID_2223b33279,Y,344,N,0,A,278,M_ID_aef85b2f5e,-1,-0.722264,2017-10-29 22:58:15,2.0,18,37
C_ID_2223b33279,Y,331,N,0,A,705,M_ID_d54ba34522,-4,-0.742715,2017-07-11 17:04:13,1.0,16,33
C_ID_2223b33279,Y,344,N,0,A,307,M_ID_18b07d47dc,-5,-0.701828,2017-06-21 09:10:20,2.0,18,19
C_ID_2223b33279,Y,344,N,0,A,307,M_ID_6782339950,-7,-0.596643,2017-04-30 17:46:35,2.0,18,19
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_34102c1d26,-1,-0.626230,2017-10-20 00:00:00,2.0,18,33
C_ID_2223b33279,Y,344,N,0,A,387,M_ID_7d14c36a58,-1,-0.672542,2017-10-15 22:22:49,2.0,18,36
C_ID_2223b33279,Y,17,N,0,A,607,M_ID_4748aadbf3,-4,-0.731896,2017-07-18 14:47:42,4.0,22,29
C_ID_2223b33279,Y,344,N,0,A,290,M_ID_cd273e5e5e,-10,-0.734887,2017-01-02 18:57:42,2.0,18,19
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_d30509548b,-10,-0.709131,2017-01-29 10:03:18,2.0,18,33
C_ID_2223b33279,Y,158,N,0,A,454,M_ID_2acca05a5f,-1,-0.739395,2017-10-14 22:09:27,1.0,15,39
C_ID_2223b33279,Y,-1,N,0,A,683,M_ID_eb4e1b4657,0,-0.701453,2017-11-10 00:00:00,NaN,-1,34
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_d30509548b,-7,-0.675832,2017-04-11 10:37:27,2.0,18,33
C_ID_2223b33279,Y,344,N,0,A,307,M_ID_18b07d47dc,-7,-0.686802,2017-04-13 10:51:19,2.0,18,19
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_34102c1d26,0,-0.736389,2017-11-25 00:00:00,2.0,18,33
C_ID_2223b33279,Y,331,N,0,A,560,M_ID_7762968456,-4,-0.737892,2017-07-23 08:02:37,1.0,16,34
C_ID_2223b33279,Y,344,N,0,A,705,M_ID_d30509548b,-5,-0.730769,2017-06-12 16:38:54,2.0,18,33

In [91]:
historical_transactions['purchase_date'] = pd.to_datetime(historical_transactions['purchase_date'])

In [102]:
historical_transactions.category_2.value_counts()

1.0    5936
4.0    1110
2.0     877
5.0     845
3.0     785
Name: category_2, dtype: int64