In [1]:
import pandas as pd
import numpy as np
import datetime
import os

from utils import one_hot_encoder, loadpkl

num_rows=10000

%matplotlib inline

In [2]:
# load datasets

historical_transactions = pd.read_csv('../input/historical_transactions.csv', nrows=num_rows)
merchants = pd.read_csv('../input/merchants.csv')
new_merchant_transactions = pd.read_csv('../input/new_merchant_transactions.csv', index_col=0)
sample_submission = pd.read_csv('../input/sample_submission.csv', index_col=0)
test = pd.read_csv('../input/test.csv', index_col=['card_id'])
train = pd.read_csv('../input/train.csv', index_col=['card_id'])

In [6]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [3]:
merchants.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [8]:
new_merchant_transactions.head()

,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
authorized_flag,,,,,,,,,,,,,
Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [9]:
sample_submission.head()

                 target
card_id
C_ID_0ab67a22ab       0
C_ID_130fd0cbdd       0
C_ID_b709037bc5       0
C_ID_d27d835a9f       0
C_ID_2b5e3df5c2       0

In [10]:
test.head()

                first_active_month  feature_1  feature_2  feature_3
card_id
C_ID_0ab67a22ab            2017-04          3          3          1
C_ID_130fd0cbdd            2017-01          2          3          0
C_ID_b709037bc5            2017-08          5          1          1
C_ID_d27d835a9f            2017-12          2          1          0
C_ID_2b5e3df5c2            2015-12          5          1          1

In [11]:
train.head()

                first_active_month  feature_1  feature_2  feature_3    target
card_id
C_ID_92a2005557            2017-06          5          2          1 -0.820283
C_ID_3d0044924f            2017-01          4          1          0  0.392913
C_ID_d639edf6cd            2016-08          2          2          0  0.688056
C_ID_186d6a6901            2017-09          4          3          0  0.142495
C_ID_cdbd2c0db2            2017-11          1          3          0 -0.159749

In [4]:
merchants.dtypes

merchant_id                     object
merchant_group_id                int64
merchant_category_id             int64
subsector_id                     int64
numerical_1                    float64
numerical_2                    float64
category_1                      object
most_recent_sales_range         object
most_recent_purchases_range     object
avg_sales_lag3                 float64
avg_purchases_lag3             float64
active_months_lag3               int64
avg_sales_lag6                 float64
avg_purchases_lag6             float64
active_months_lag6               int64
avg_sales_lag12                float64
avg_purchases_lag12            float64
active_months_lag12              int64
category_4                      object
city_id                          int64
state_id                         int64
category_2                     float64
dtype: object

In [5]:
merchants

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
5,M_ID_a0915f62b5,20201,87,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,3.666667,6,NaN,3.833333,12,Y,160,21,5.0
6,M_ID_bfd41933db,33861,792,9,-0.057471,-0.057471,N,E,E,NaN,...,NaN,4.833333,6,NaN,6.333333,12,N,60,16,1.0
7,M_ID_d8ff08219e,16430,529,20,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.666667,6,NaN,1.500000,11,Y,-1,-1,NaN
8,M_ID_c5b389236d,37179,813,29,-0.057471,-0.057471,N,E,E,NaN,...,NaN,189.916667,6,NaN,197.000000,7,N,248,15,1.0
9,M_ID_d2162ed113,112122,81,29,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,1.000000,2,NaN,1.000000,2,Y,-1,-1,NaN
10,M_ID_492cfa500c,13462,369,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,N,-1,9,1.0
11,M_ID_73487fed26,17123,427,27,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,-1,-1,NaN
12,M_ID_7149162139,2118,63,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,inf,6,NaN,inf,12,Y,88,16,1.0
13,M_ID_a31332e0bc,15040,427,27,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.000000,1,NaN,1.000000,1,Y,158,15,1.0
14,M_ID_c9eb20f6f5,25449,45,18,-0.057471,-0.057471,N,E,E,NaN,...,NaN,1.666667,3,NaN,1.666667,3,N,-1,16,1.0
15,M_ID_c9855bf3e3,321,690,1,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,3432.666667,6,NaN,5236.000000,12,Y,-1,-1,NaN
16,M_ID_c929bb59af,9514,2,20,-0.057471,-0.057471,N,E,E,69667.00,...,69667.00,1.000000,3,69667.00,1.000000,3,N,-1,20,5.0
17,M_ID_dd3ae3de10,30534,278,37,-0.057471,-0.057471,N,E,E,5180.00,...,9830.00,4.166667,6,15826.00,5.600000,10,Y,11,23,2.0
18,M_ID_dc671140d0,21536,278,37,-0.057471,-0.057471,N,E,E,7133.00,...,17566.00,4.500000,6,19594.00,6.000000,9,Y,143,5,5.0
19,M_ID_7551d55443,16010,298,10,-0.057471,-0.057471,N,E,E,109733.00,...,118433.00,19.000000,6,217857.00,35.416667,12,N,282,18,2.0
20,M_ID_a8effe9197,577,497,27,-0.057471,-0.057471,N,E,E,3897.00,...,2924.00,1.250000,4,2924.00,1.250000,4,N,-1,16,1.0
21,M_ID_39643c7d93,22146,309,21,-0.057471,-0.057471,N,E,E,608433.00,...,776683.00,7.000000,6,749804.00,6.000000,12,N,-1,16,1.0
22,M_ID_07930b58ae,11559,705,33,-0.057471,-0.057471,N,E,E,148515.00,...,245840.00,134.833333,6,272061.00,151.454545,11,N,123,19,3.0
23,M_ID_e16b20b50a,35,511,7,-0.057471,-0.057471,N,E,E,385833.00,...,464184.00,183.666667,6,460206.00,184.333333,9,N,126,4,4.0
24,M_ID_0f0334c393,39020,437,15,-0.057471,-0.057471,N,E,E,205863.00,...,1513959.00,33.666667,6,2567408.00,61.166667,12,N,272,9,1.0
25,M_ID_2be211b847,35,456,21,-0.057471,-0.057471,N,E,E,1.00,...,1.00,1.000000,1,1.00,1.000000,1,N,85,8,3.0
26,M_ID_0fa16b39ed,35,781,7,-0.057471,-0.057471,N,E,E,44436.00,...,93735.00,17.500000,4,93735.00,17.500000,4,N,140,9,1.0
27,M_ID_69618a786a,4760,703,29,-0.057471,-0.057471,N,E,E,360107.00,...,646764.00,37.333333,6,683700.00,39.818182,11,N,62,9,1.0
28,M_ID_3c87a47f6b,38953,703,29,-0.057471,-0.057471,N,E,E,624741.00,...,953792.00,329.166667,6,827191.00,283.833333,12,N,60,16,1.0
29,M_ID_c44ccc8110,4274,278,37,-0.057471,-0.057471,N,E,E,133863.00,...,133859.00,67.500000,4,133859.00,67.500000,4,Y,143,5,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334666,M_ID_82a30d9203,35,705,33,67.383709,66.957368,N,A,A,1.11,...,1.19,1.140296,6,1.29,1.193303,12,Y,69,9,1.0
334667,M_ID_076cd8a829,401,665,3,-0.057471,-0.057471,Y,A,A,0.59,...,0.52,0.531372,6,0.51,0.436002,12,Y,-1,-1,NaN
334668,M_ID_a0bec1c066,2897,840,20,0.953850,-0.057471,N,A,A,0.98,...,0.99,1.009592,6,0.97,0.992651,12,N,-1,9,1.0
334669,M_ID_79692349d6,3097,491,3,-0.057471,-0.057471,Y,A,A,0.95,...,0.88,0.724008,6,0.77,0.619400,12,Y,-1,-1,NaN
334670,M_ID_96ba3c7b60,35,690,1,-0.057471,-0.057471,Y,A,B,0.98,...,0.89,0.935795,6,0.78,0.850326,12,Y,-1,-1,NaN
334671,M_ID_77e2942cd8,35,705,33,80.164020,79.678190,N,A,A,1.04,...,1.07,1.073962,6,1.09,1.088270,12,N,-1,16,1.0
334672,M_ID_2637773dd2,35,683,34,105.585835,104.901707,N,A,A,1.08,...,1.10,1.092221,6,1.13,1.117407,12,Y,69,9,1.0
334673,M_ID_b5b80addf5,176,705,33,1.211637,-0.047556,N,A,A,0.99,...,1.02,1.002170,6,1.45,1.047121,12,Y,69,9,1.0
334674,M_ID_c9a8f296ae,108130,561,7,-0.057471,-0.057471,N,A,A,0.73,...,0.60,0.877106,6,0.50,0.677564,9,N,231,9,1.0
334675,M_ID_d855771cd9,35,278,37,129.322116,128.548754,N,A,A,1.15,...,1.26,1.226926,6,1.30,1.270607,12,N,-1,9,1.0
334676,M_ID_b1fc88154d,321,705,33,0.388700,-0.047556,N,A,A,1.00,...,1.02,1.087142,6,0.95,1.095145,12,Y,137,19,3.0
334677,M_ID_ed8064314e,840,437,15,0.011934,-0.057471,N,A,A,1.00,...,1.03,1.027947,6,1.07,1.062081,12,Y,69,9,1.0
334678,M_ID_98b342c0e3,35,80,37,183.735111,182.079322,N,A,A,1.15,...,1.25,1.226935,6,1.29,1.261291,12,N,-1,9,1.0
334679,M_ID_b98db225f5,35,705,33,107.648135,107.132560,N,A,A,1.11,...,1.19,1.181937,6,1.26,1.233718,12,N,-1,9,1.0
334680,M_ID_004995eae1,112528,705,33,0.130913,-0.057471,N,A,A,0.98,...,1.03,0.998480,6,1.06,1.014429,12,Y,158,15,1.0
334681,M_ID_7159aca3bf,35,574,22,-0.057471,-0.057471,Y,A,A,0.62,...,0.33,0.278660,6,0.17,0.142010,12,Y,-1,-1,NaN
334682,M_ID_a62e20132d,112393,248,8,-0.057471,-0.057471,N,A,A,0.94,...,0.86,0.908929,6,0.94,0.960127,12,Y,69,9,1.0
334683,M_ID_c1a7024db1,565,705,33,0.130913,-0.057471,N,A,A,1.00,...,0.91,0.959783,6,0.97,0.986675,12,Y,158,15,1.0
334684,M_ID_981fe24744,771,690,1,1.231467,-0.057471,N,A,A,1.03,...,1.05,1.080940,6,1.07,1.122159,12,Y,69,9,1.0
334685,M_ID_f86439cec0,35,278,37,117.830742,116.888826,N,A,A,1.08,...,1.09,1.095924,6,1.13,1.125829,12,Y,69,9,1.0
334686,M_ID_3111c6df35,107283,690,1,-0.057471,-0.057471,Y,A,A,0.95,...,0.90,0.967786,6,0.79,0.891154,12,Y,-1,-1,NaN
334687,M_ID_ca4d18b336,1145,437,15,0.170572,-0.057471,N,A,A,0.96,...,0.95,0.986964,6,0.97,1.005476,12,Y,69,9,1.0
334688,M_ID_59764e8cb1,17285,309,21,0.329211,-0.057471,Y,A,A,0.97,...,1.00,1.107380,6,1.05,1.120891,12,Y,-1,-1,NaN
334689,M_ID_5ba019a379,35,80,37,172.719653,170.736672,N,A,A,1.07,...,1.07,1.083591,6,1.11,1.110395,12,Y,69,9,1.0
334690,M_ID_a9d91682ad,35,241,17,-0.057471,-0.057471,Y,A,A,0.96,...,0.85,0.919159,6,0.90,0.982781,12,Y,-1,-1,NaN
334691,M_ID_1f4773aa76,1145,705,33,3.174788,-0.047556,N,A,A,1.00,...,0.99,1.019505,6,1.00,1.024796,12,Y,69,9,1.0
334692,M_ID_725a60d404,35,544,29,-0.057471,-0.057471,Y,A,A,0.89,...,0.78,0.813473,6,0.59,0.606765,12,Y,-1,-1,NaN
334693,M_ID_f2045dd267,35,561,7,-0.057471,-0.057471,N,A,A,0.96,...,0.90,0.924769,6,0.74,0.750763,8,Y,160,21,5.0
334694,M_ID_9139332ccc,35,511,7,-0.057471,-0.057471,Y,A,A,0.94,...,0.82,0.783000,6,0.65,0.584000,12,Y,-1,-1,NaN
334695,M_ID_cd2c0b07e9,35,606,17,-0.057471,-0.057471,N,A,A,0.90,...,0.73,0.744417,6,0.53,0.540334,10,Y,69,9,1.0